atom-text-editor .scroll-view{
  padding-left: 20px;
}
.entity.other.attribute-name {
  font-style: italic;
}
atom-text-editor.editor .syntax--entity.syntax--other.syntax--attribute-name{
  font-style: italic;
}
atom-text-editor.editor .indent-guide, atom-text-editor.editor :host .indent-guide {
  color: #2d2d2d !important
}
tom-text-editor.editor .wrap-guide{
  visibility: hidden;
}
